html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /*position: fixed;*/
}

body {
    width: 100%;
}

.layui-tab {
    height: 100%;
}

.layui-tab-content {
    position: absolute;
    top: 60px;
    bottom: 10px;
    width: 100%;
    padding: 0px;
    overflow: hidden;
}

.layui-tab-item {
    width: 100%;
    height: 100%;
}

.page-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

iframe {
    width: 100%;
    min-height: 100%;
}

